# 工作流名称为 Android12-5.10
name: Android12-5.10

# 触发条件配置
on:
    workflow_dispatch:  # 允许手动触发工作流执行

# 定义工作流中的作业
jobs:
    build:
        # 指定运行环境为最新版Ubuntu
        runs-on: ubuntu-latest
        
        steps:
            # 步骤1: 检出代码仓库
            - name: Checkout repository
                uses: actions/checkout@v3
                
            # 步骤2: 修改内核版本代码定义
            - name: Modify MY_LINUX_VERSION_CODE
                run: |
                    sed -i '/#ifndef MY_LINUX_VERSION_CODE/a #define MY_LINUX_VERSION_CODE KERNEL_VERSION(5,10,43)' kerneldriver/ver_control.h

            # 步骤3: 安装repo工具
            - name: Install repo tool
                run: |
                    curl https://storage.googleapis.com/git-repo-downloads/repo > /usr/local/bin/repo
                    chmod a+x /usr/local/bin/repo 

            # 步骤4: 设置Android内核源码
            - name: Set up Android Kernel source
                run: |
                    mkdir -p android-kernel && cd android-kernel
                    repo init -u https://android.googlesource.com/kernel/manifest -b common-android12-5.10 --no-repo-verify --depth=1
                    repo sync --force-sync --no-clone-bundle --no-tags -f -c -j32

            # 步骤5: 复制内核驱动文件
            - name: Copy kerneldriver
                run: |
                    cd android-kernel
                    mkdir -p common/drivers 
                    cp -r ../kerneldriver common/drivers 

            # 步骤6: 修改Makefile添加驱动编译配置
            - name: Modify Makefile
                run: |
                    cd android-kernel
                    echo "obj-y += kerneldriver/" >> common/drivers/Makefile

            # 步骤7: 构建Android内核
            - name: Build Android Kernel
                continue-on-error: true
                run: |
                    cd android-kernel
                    BUILD_CONFIG=common/build.config.gki.aarch64 LTO=thin build/build.sh -j32

            # 步骤8: 上传编译好的驱动文件
            - name: Upload kerneldriver.ko
                uses: actions/upload-artifact@v3
                with:
                    name: kerneldriver.ko
                    path: android-kernel/out/android12-5.10/common/drivers/kerneldriver/kerneldriver.ko 
